/**:focus {outline: none}*/
body {min-height: 100vh; background-attachment: fixed; background-image: url("./resources/bg.png"); background-repeat: repeat; color:#000; font-family: sans-serif; padding:0; margin:0;}
header {padding-left: 35px; padding-top: 35px; padding-bottom: 35px; border-bottom: 1px solid #222; margin-bottom:35px; background-color: white}


table {width: 100%;}
table, thead, tbody, th, td, tr {
	align: left;
	padding: none;
}
td {text-align:left; align: left; padding:0px;}

.nav_element {margin-bottom:35px;}

.nav_element h2 {margin-top:0px; margin-bottom:12px;}

.nav_link {
color: black;
}

.nav_link:visited
{
	color:#898989;
}

.nav_link:hover {
	color: white;
	background-color: black;
}

#page_content {
  color: red;
	max-width:100%;
	margin-left: 35px;
	margin-right: 35px;
	margin-bottom: 35px;
}

#nav {
	width:350px;
	margin-left: 35px;
	margin-right: 35px;
	margin-bottom: 35px;
}

#inner {
	display:flex;
	flex-direction: row;
}

h1 {margin:0px; padding:0px;}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

@media (max-width: 700px)  {
	#inner {
		flex-direction: column;
	}
	#nav {
		width:calc(100% - 70px);
	}
}


ul { margin:0; padding:0; list-style: none}
