/**:focus {outline: none}*/
body {min-height: 100vh; background-attachment: fixed; background-image: url("./resources/images/bg.png"); background-repeat: repeat; color:#000; font-family: sans-serif; padding:0; margin:0;}
header {padding-left: 35px; padding-top: 35px; padding-bottom: 35px; border-bottom: 1px solid #222; margin-bottom:35px; background-color: white}


table {width: 100%;}
table, thead, tbody, th, td, tr {
	align: left;
	padding: none;
}
td {text-align:left; align: left; padding:0px;}

.nav_element {margin-bottom:35px;}

.nav_element h2 {margin-top:0px; margin-bottom:12px;}

.nav_link {
color: black;
}

.nav_link:visited
{
	color:#898989;
}

.nav_link:hover {
	color: white;
	background-color: black;
}

#page_content {
  color: red;
	max-width:100%;
	margin-left: 35px;
	margin-right: 35px;
	margin-bottom: 35px;
}

#nav {
	width:300px;
	margin-left: 35px;
	margin-right: 35px;
	margin-bottom: 35px;
}

#inner {
	display:flex;
	flex-direction: row;
}

.huntergram_embed {
	border: 1px solid rgb(219, 219, 219);
	border-radius: 3px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	background-color:white;
	-webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.huntergram_embed .header
 {
	display: flex;
	flex-direction: row;
	height: 34px;
	padding: 10px;
}

.header_text {
	display: flex;
	flex-direction: column;
}

.huntergram_embed .header .avatar {
	border-radius:50%;
	width:34px;
	height:34px;
}

.huntergram_embed .header .avatar:hover {
  opacity: 0.7;
}

.verified_username_anchor {
	font-weight: 600;
	text-decoration: none;
	color:black;
	font-size:14px;
	line-height:18px;
	margin-right:50px;
}

.verified_username {
	margin-left:10px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.verified_username:hover {
	text-decoration: underline;
}

.verification {
	margin-left: 4px;
	height: 12px;
	width: 12px;
	background-position: 0px 0px;
	background-size: 12px 12px;
	background-image: url("resources/images/verified_badge.png");
	text-align:left;
	float: left;

	margin-bottom: -2.5px;
}

.follower_count {
	margin-left:10px;
	display:flex;
	flex-direction:row;
	font-size: 12px;
	line-height: 14px;
	text-align: left;
	color:#8e8e8e;
	font-weight:400;
}

.huntergram_embed .content {
	max-width:100%;

}



.huntergram_embed .content img {
	max-width:100%;
	vertical-align:bottom;
}

.view_more_container
{
	height: 40px;
	margin-left:16px; /*originally 12 */
	margin-right:16px; /*originally 12 */
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	border-bottom: 1px solid #dbdbdb;
}

.view_more_prompt {
	color:#0095f6;
	font-size:14px;
	line-height:18px;
	font-weight:600;
	text-decoration: none;
}

.view_more_prompt:hover {
	text-decoration: underline;
}

.huntergram_embed .feedback {
	margin-top: 12px;
	margin-bottom: 10px;
	margin-left: 16px;
	margin-right: 16px;
	display:flex;
	flex-direction: row;
}

.like {
	display: flex;
	background-position: -18px 0px;
	background-size: 18px 36px;
	height: 18px;
	width: 18px;
	background-image: url("resources/images/heart.png");
	margin-right:9px; /*originally 12 */
	opacity:0.9;
}

.like:hover {
	background-position: 0px -18px;
	background-image: url("resources/images/heart.png");
	opacity:1.0;
	cursor:pointer;
}


.comment {
	display: flex;
	background-size: 18px 18px;
	background-position: 0px 0px;
	height: 18px;
	width: 18px;
	background-image: url("resources/images/comment.png");
	margin-right:10px; /*originally 12 */
	opacity: 0.9;
}

.comment:hover {
	opacity:0.6;
	cursor:pointer;
}

.download {
	display: flex;
	background-size: 18px 18px;
	background-position: 0px 0px;
	height: 18px;
	width: 18px;
	background-image: url("resources/images/download.png");
	opacity: 0.9;
}

.download:hover {
	opacity:0.6;
}

.bookmark_container {
	margin-left:auto
}

.bookmark {
	display: flex;
	background-size: 18px 18px;
	background-position: 0px 0px;
	height: 18px;
	width: 18px;
	background-image: url("resources/images/bookmark.png");
	margin-left:auto;
	margin-right:-2px;
	opacity: 0.9;
}

.bookmark:hover {
	opacity:0.6;
	cursor:pointer;
}

.like_count {
	margin-left:16px;
	margin-right:16px;
	margin-bottom:7px;
}

.like_count span {
	color:black;
	text-decoration: none;
	font-size: 14px;
	font-weight: 600;
}

.like_count a:hover {
	color:black;
	text-decoration: underline;
}

.caption {
	margin-left:16px;
	margin-right:16px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-bottom:16px;
	font-weight: 400;
	line-height: 18px;
	font-size: 14px;
}

.caption_username a {
	color:black;
	text-decoration: none;
	font-weight:600;
}

.caption_username {
	margin-bottom: 9px;

}

.caption_username:hover {
	text-decoration: underline;
}

.caption_content {

}



/* ~ ~ ~ ~ gobbler ~ ~ ~ ~ */


.gobbler_embed {
	display: flex;
	flex-direction: column;
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
	border: 1px solid #d2dbe0;
	border-radius: 12px;
	padding-left:16px;
	padding-right:16px;
	padding-top:12px;
	padding-bottom:4px;
	background-color:white;
}

.gobbler_header {

}

.gobbler_avatar {

}

.gobbler_verified_display_name_and_username {

}

.gobbler_verified_display_name {

}

.gobbler_display_name {

}

.gobbler_verified_icon {

}

.gobbler_username {

}

.gobbler_icon {

}

.gobbler_gobble {

}

.gobbler_datetime_info_container {

}

.gobbler_datetime {

}

.gobbler_info_icon {

}

.gobbler_footer {

}

.gobbler_likes {

}

.gobbler_heart_icon {

}

.gobbler_like_count {

}

.gobbler_comments {

}

.gobbler_comment_icon {

}

.gobbler_comment_count {

}

.gobbler_copy_link {

}

.gobbler_link_icon {

}

.gobbler_copy_copied_link_text {

}





table td, table td * {
    vertical-align: top;
}




h1 {margin:0px; padding:0px;}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}



@media (max-width: 700px)  {
	#inner {
		flex-direction: column;
	}
	#nav {
		width:calc(100% - 70px);
	}
}


ul { margin:0; padding:0; list-style: none}
