about_earth/
about_humans/
about_me/
huntergram/
library/
gobbler/
resources/*

hi.css
index.html
!blog/index.html
pushall.py

blog/*/
!blog/markdown/
blog/markdown/*
!blog/markdown/template.md

blog/index.html
blog/upblog.py
blog/blog.js
blog/blog.css
