#blog_embed {
 border: 1px solid #d2dbe0;
 border-bottom-left-radius: 6px;
 border-top-left-radius: 6px;
 border-top-right-radius: 6px;
 background-color: white;
 filter: drop-shadow(0 0 0.75rem lightgrey);
}

#blog_header {
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	background-color: white;
	font-size: 20px;
	font-weight: 600;
	padding-bottom: 4px;
	border-bottom: 1px solid #d2dbe0;
	padding-top: 6px;
}

#blog_header_text {
	padding-left:20px;
}

#blog_list {
	padding-left:20px;
	overflow-y:scroll;
	height:180px;
	list-style: none;
	font-size: 16px;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-top:15px;
	padding-bottom: 8px;
	padding-right: 17px;
}

#blog_list li {
	padding-bottom: 17px;
}



.date {
	font-size: 14px;
}
