body {
	max-width: 100%;
	margin:0;
	display: flex;
	flex-direction: column;
	padding:0px;
	min-height: 100vh;
}

h1 {
	line-height: 50px;
	padding-top:0px;
	padding-bottom:0px;
	margin-top:0px;
	margin-bottom:0px;
}

h4 {
	margin: 0;
	padding: 0;
}

#page_container {
	padding-left: 50px;
	padding-right: 50px;
	height: 100%;
}

#hi {
	margin-top: 120px;
	margin-bottom: 80px;
}

#introduction {
	padding-top:0px;
	padding-bottom: 0px;
	margin-top:0px;
	margin-bottom:70px;
}

#nav {
	display: flex;
	flex-direction: row;
	font-size: 23px;
	font-weight: 600;
	justify-content: space-between;
}

li a {
	line-height: 32px;
	display:flex;
}

#hidden_break {
	display:none;
}

@media only screen and (max-width: 700px) {
	#hi {
		margin-top: 50px;
	}
	#nav {
		display:inline-block;
	}
	#hidden_break {
		display:block;
	}
	.centered {
		margin: 0px;
	}
}

@media only screen and (max-width: 600px)  {
	#page_container {
		padding-left: 20px;
		padding-right:20px;
		padding-top:20px;
		padding-bottom:60px;
	}
	#hi {
		margin-top: 0px;
		font-size: 40px;
		margin-bottom: 60px;
	}
	#introduction {
		font-size: 30px;
		margin-bottom: 60px;
	}
	li a {
		font-size: 22px;
	}
}
