body {
	min-height: 100vh;
	background-attachment: fixed;
	background-image: url("./resources/bg.png");
	background-repeat: repeat;
	color:#000;
	font-family: sans-serif; padding:0; margin:0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

header {
	padding-left: 35px;
	min-height:100px;
	border-bottom: 1px solid #4444;
	margin-bottom:35px;
	background-color: white;
	display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
	filter: drop-shadow(0 0 0.1rem lightgrey);
}

h1 {
	margin:0px;
	padding:0px;
}

footer {
	background-color: white;
	border-top: 1px solid black;
	margin-top: auto;
}

.nav_element {
	margin-bottom:35px;
}

#nav {
	min-width:300px;
	width:300px;
	margin-left: 35px;
	margin-right: 35px;
	margin-bottom: 35px;
}

#content {
	border: 1px solid #d2dbe0;
	border-radius: 6px;
	background-color: white;
	filter: drop-shadow(0 0 0.75rem lightgrey);
	width: 100%;
	margin-right: 35px;
	margin-bottom: 35px;
	padding: 10px;
	box-sizing: border-box;
}

#page_container {
	display:flex;
	flex-direction: row;
}

.no_select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

@media (max-width: 700px)  {
	header {
		min-height:80px;
	}
	#page_container {
		flex-direction: column;
	}
	#nav:first-child {
    order: 1;
  }
	#nav {
		width:calc(100% - 70px);
	}
	#content {
		margin: 0 auto;
		width:calc(100% - 70px);
		margin-bottom: 35px;
	}
}
