body {
	min-height: 100vh;
	background-attachment: fixed;
	background-image: url("./resources/bg.png");
	background-repeat: repeat;
	color:#000;
	font-family: sans-serif; padding:0; margin:0;
}

header {
	padding-left: 35px;
	padding-top: 35px;
	padding-bottom: 35px;
	border-bottom: 1px solid #222;
	margin-bottom:40px;
	background-color: white
}

h1 {
	margin:0px;
	padding:0px;
}

.nav_element {
	margin-bottom:40px;
}

.nav_link {
	color: blue;
}

.nav_link:visited
{
	color:purple;
}

.nav_link:hover {

}

#blog_embed {
 border: 1px solid #d2dbe0;
 border-bottom-left-radius: 6px;
 border-top-left-radius: 6px;
 background-color: white;
 padding-left:20px;
 padding-right:16px;
 height:180px;
 overflow-y:scroll;
 filter: drop-shadow(0 0 0.75rem lightgrey);
}

#blog_header {
	position: -webkit-sticky;
	position: sticky;
	top:0;
	background-color: white;
	font-size: 20px;
	font-weight: 600;
	padding-bottom: 4px;
	border-bottom: 1px solid #c4cfd6;
	padding-top: 6px;
}

#blog_list {
	list-style: none;
	font-size: 16px;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
	margin-top: 10px;
	padding-left: 0px;
	padding-bottom: 8px;
	margin-bottom: 0px;
}

#blog_list li {
	padding-bottom: 17px;
}

.date {
	font-size: 15px;
}

#nav {
	width:300px;
	margin-left: 35px;
	margin-right: 35px;
	margin-bottom: 35px;
}

#content {
  color: red;
	max-width:100%;
	margin-left: 35px;
	margin-right: 35px;
	margin-bottom: 35px;
}

#page_container {
	display:flex;
	flex-direction: row;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

@media (max-width: 700px)  {
	#page_container {
		flex-direction: column;
	}
	#nav:first-child {
    order: 1;
  }
	#nav {
		width:calc(100% - 70px);
	}
}
