/**:focus {outline: none}*/
body {min-height: 100vh; background-attachment: fixed; background-image: url("./resources/bg.png"); background-repeat: repeat; color:#000; font-family: sans-serif; padding:0; margin:0;}
header {padding-left: 35px; padding-top: 35px; padding-bottom: 35px; border-bottom: 1px solid #222; margin-bottom:35px; background-color: white}

h1 {
	margin:0px;
	padding:0px;
}

.nav_element {margin-bottom:35px;}

.nav_element h2 {margin-top:0px; margin-bottom:12px;}

.nav_link {
color: blue;
}

.nav_link:visited
{
	color:purple;
}

.nav_link:hover {

}

.blog_list {
 margin:0;
 padding:0;
 list-style: none;
 border: 1px solid #d2dbe0;
 border-radius: 8px;
 background-color: white;
 padding-left:20px;
 padding-right:20px;
 padding-top:16px;
 padding-bottom:16px;
 height:100px;
 overflow-y:scroll;
}

.blog_list li {
	margin-bottom: 6px;
}

#nav {
	width:300px;
	margin-left: 35px;
	margin-right: 35px;
	margin-bottom: 35px;

}

#content {
  color: red;
	max-width:100%;
	margin-left: 35px;
	margin-right: 35px;
	margin-bottom: 35px;
}

#page_container {
	display:flex;
	flex-direction: row;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

@media (max-width: 700px)  {
	#page_container {
		flex-direction: column;
	}
	#nav:first-child {
    order: 1;
  }
	#nav {
		width:calc(100% - 70px);
	}
}
