body {
	max-width: 100%;
	min-height: 100%;
	margin:0;
}

#page_container {
	max-width: 1024px;
	padding-left: 50px;
	padding-right:50px;
	padding-top:120px;
}

h2 {
	font-size: 25px;
	font-weight: 700;
	padding:0px;
	margin:0px;
	display: inline;
}

.blog_title {
	font-size: 20px;
	line-height: 29px;
	margin: 0px;
	padding: 0px;
}

time {
	font-size: 20px;
	line-height: 29px;
}

#breadcrumbs {
	display: flex;
		justify-content:space-between;
	margin-bottom: 45px;
}

#plus_box{
	display: flex;
	justify-content: center;
	align-items: center;
	line-height:30px;
	width: 30px;
	height: 30px;
	cursor: pointer;
	font-size: 40px;
	font-weight: 900;
	font-family: 'Times New Roman', Times, serif;
}

#plus_box:hover {
	color: var(--highlight);
}

#plus {
	background: white;
	height: 20px;
	position: relative;
	width: 4px;
	transition: .15s ease-in-out;
}
#plus:after {
	background: white;
	content: "";
	height: 4px;
	left: -8px;
	position: absolute;
	top: 8px;
	width: 20px;
}

#blog_feed {
	padding-top: 60px;
	padding-bottom: 140px;
}

.blog_post {
	display: flex;
	flex-shrink: 1;
	flex-grow: 0;
	flex-direction: row;
	margin-bottom: 35px;
}

.blog_details {
	flex-basis: 33.3333%;
	margin-right:35px;
}

.blog_brief {
	flex-basis: 66.6666%;
	font-size: 20px;
	font-weight: 400;
	line-height: 29px;
	max-width: 66.6667%;
	padding-right: 10px;
}

.hidden {
	pointer-events: none;
}

#nav_links {
	text-align: center;
	transition: .15s ease-in-out;
	opacity: 0%;
	max-height: 0px;
	margin:0;
	padding:0;
}

@media only screen and (max-width: 1130px) {
	#page_container {
		padding-top: 50px;
	}
}

@media only screen and (max-width: 870px)  {
	#nav_links {
		text-align: left;
	}
	#blog_feed {
		padding-top: 45px;
	}
}

@media only screen and (max-width: 750px)  {
	.blog_post {
		display: inline-block;
		margin-bottom: 50px;
	}
	.blog_details {
		padding: 0px;
		display:flex;
		flex-direction:column;
	}
	time {
		order:1;
		font-size: 18px;
	}
	.blog_title {
		order:2;
		padding-bottom: 4px;
		padding-top: 1px;
	}

	.blog_brief {
		padding:0px;
	}

}

@media only screen and (max-width: 560px)  {
	#page_container {
		padding-left: 20px;
		padding-right:20px;
		padding-top:20px;
	}
}
