:root {
	--text:  #fafafa;
	--background: #141414;
  --highlight: #009090; /*#3373e6;*/
	--seafoam: #05d5a1;
	--teal: #22aadd;
	--lime: #33ff22;
	--gold: #eeba30;
	--pumpkin: #ff6400;
	--rose: #ff3399;

}

body {
	text-rendering: optimizeLegibility;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	background-color: var(--background);
	color: var(--text);
}

h1 {
	font-size: 50px;
}

h2 {
	font-size: 33px;
}

h3 {
	font-size: 20px;
}

ul {
	list-style-type: none;
	padding:0px;
	margin:0px;
}

li {
	font-weight: 600;
}

a {
	text-decoration: none;
	color: var(--text);
	transition: color ease-in-out .15s;
}
@media(hover: hover) and (pointer: fine) {
	a:hover {
		color: var(--highlight);
		transition: color ease-in-out .15s;
	}
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.centered {
  margin: 0 auto;
}

/* Dark mode by default, use light mode when preferred */
@media (prefers-color-scheme: light) {
	:root {
		--text: #442222;
		--background: #faf2f2;
	  --highlight: #350fff;
	}
}
