#gobbler_embed {
	display: flex;
	flex-direction: column;
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
	border: 1px solid #d2dbe0;
	border-radius: 12px;
	padding-left:16px;
	padding-right:16px;
	padding-top:12px;
	padding-bottom:4px;
	background-color:white;
}

#gobbler_embed .header {
	padding-bottom: 12px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#gobbler_embed .avatar {
	transition-property: background-color, box-shadow;
	transition-duration: 0.2s;
	margin: 0px;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
}

#gobbler_embed .avatar img {
	width: 42px;
	height: 42px;
	border-radius:50%;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

#gobbler_embed .verified_display_name_and_username_anchor {
	text-decoration: none;
	color: black;
}

#gobbler_embed .verified_display_name_and_username_anchor:hover .display_name{
	text-decoration: underline;
}

#gobbler_embed .verified_display_name_and_username {
	margin-left: 7px;
	margin-right: 4px;
	margin-top: -4px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#gobbler_embed .verified_display_name {
	display: flex;
	flex-direction: row;
	-moz-box-align: center;
	align-items: center;

}

#gobbler_embed .verified_display_name a {
	text-decoration: none;
}

#gobbler_embed .display_name {
	line-height: 2px;
	font-size: 15px;
	white-space: nowrap;
	font-weight:700;
}

#gobbler_embed .verified_icon {
	color: #1da1f2;
	margin-left: 2px;
	fill: currentcolor;
	height: 16px;
	margin-left: 4px;
	margin-bottom: -3.5px;
}

#gobbler_embed .username {
	color: #5b7083;
	font-size: 14px;

}

#gobbler_embed .icon {
	margin-left:auto;
	margin-top:6px;
}

#gobbler_embed .gobble {

}

#gobbler_embed .datetime_info_container {

}

#gobbler_embed .datetime {

}

#gobbler_embed .info_icon {

}

#gobbler_embed .footer {

}

#gobbler_embed .likes {

}

#gobbler_embed .heart_icon {

}

#gobbler_embed .like_count {

}

#gobbler_embed .comments {

}

#gobbler_embed .comment_icon {

}

#gobbler_embed .comment_count {

}

#gobbler_embed .copy_link {

}

#gobbler_embed .link_icon {

}

#gobbler_embed .copy_copied_link_text {

}
