#gobbler_embed {
	display: flex;
	flex-direction: column;
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
	border: 1px solid #d2dbe0;
	border-radius: 8px;
	padding-left:20px;
	padding-right:20px;
	padding-top:16px;
	padding-bottom:4px;
	background-color:white;
	filter: drop-shadow(0 0 0.75rem lightgrey);

	/*-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);*/
}

#gobbler_embed .header {
	padding-bottom: 9px;
	display: flex;
	flex-direction: row;
}

#gobbler_embed .avatar img {
	border-radius:50%;
	width:38px;
	height:38px;
	display: block;
}

#gobbler_embed .verified_display_name_and_username_anchor {
	text-decoration: none;
	color: black;
}

#gobbler_embed .verified_display_name_and_username_anchor:hover .display_name{
	text-decoration: underline;
}

#gobbler_embed .verified_display_name_and_username {
	margin-left: 8px;
	margin-right: 4px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#gobbler_embed .verified_display_name {
	display: flex;
	flex-direction: row;
	-moz-box-align: center;
	align-items: center;
}

#gobbler_embed .verified_display_name a {
	text-decoration: none;
}

#gobbler_embed .display_name {
	font-size:14px;
	line-height:12px;
	white-space: nowrap;
	font-weight: 600;
	text-decoration: none;
	color:black;
}

#gobbler_embed .verified_icon {
	fill: #1da1f2;
	height: 14px;
	margin-left: 3px;
	margin-bottom: -2px;
}

#gobbler_embed .username {
	color: #5b7083;
	font-size: 14px;
	line-height:12px;
}

#gobbler_embed .gobble {
	display:flex;
	font-size: 16px;
	cursor: text;
	overflow-wrap: break-word;
}

#gobbler_embed .datetime_container {
	font-size: 14px;
	font-weight: 400;
	color: #5b7083;
	margin-top: 7px;
	margin-bottom: 4px;
}

#gobbler_embed .footer {
	display: flex;
	flex-direction: row;
	border-top: 1px solid #c4cfd6;
	margin-top: 4px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#gobbler_embed .likes_container {
	width: 30%;
}

#gobbler_embed .likes_anchor {
	/*margin-right: 20px;*/
	text-decoration: none;
}

#gobbler_embed .likes {
	display: flex;
	flex-direction: row;
	-moz-box-align: center;
}

#gobbler_embed .heart_icon {
	max-width:18px;
	max-height:18px;
	margin-right:6px;
	fill: #5b7083;
}

#gobbler_embed .like_count {
	white-space: nowrap;
	font-size: 14px;
	color: #5b7083;
	text-decoration: none;
}

#gobbler_embed .comments_container {
	width: 30%;
}

#gobbler_embed .comments_anchor {
	/*margin-right: 20px;*/
	text-decoration: none;
}

#gobbler_embed .comments {
	display: flex;
	flex-direction: row;
	-moz-box-align: center;
}

#gobbler_embed .comment_icon {
	max-width:18px;
	max-height:18px;
	margin-right:6px;
	fill: #5b7083;
}

#gobbler_embed .comment_count {
	white-space: nowrap;
	font-size: 14px;
	color: #5b7083;
}

#gobbler_embed .regobble_container {
	width: 30%;
}

#gobbler_embed .regobble_anchor {
	text-decoration: none;
}

#gobbler_embed .regobble {
	display: flex;
	flex-direction: row;
	-moz-box-align: center;
}

#gobbler_embed .regobble_icon {
	max-width:18px;
	max-height:18px;
	margin-right:6px;
	fill: #5b7083;
}

#gobbler_embed .regobble_count {
	white-space: nowrap;
	font-size: 14px;
	color: #5b7083;
	text-decoration: none;
}
