<!DOCTYPE html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
<html lang="en">
	<head>
		<!-- set page title !-->
		<title>Your Title Here
</title>
		<!-- import css !-->
		<link rel="stylesheet" type="text/css" href="../blog.css">
		<!-- import js !-->
		<script type="text/javascript" src="../blog.js"></script>
		<script type="text/javascript" src="../../resources/main.js"></script>
	</head>
	<body>
		<div id="page_container" class="centered">
			<div id="breadcrumb_container">
				<h2 id="breadcrumbs"><a class="nodecor" href="../../">home</a> / <a class="nodecor" href="../">blog</a> / Sep 30, '21</h2>
			</div>
			<h1 id="blog_heading">Your Title Here</h1>
			<div id="blog_content">
				<p>
					The body of your post begins here. Lines beginning with a '#' become...
				</p>
				<h2 class="blog_subheading">Subheadings</h2>
				<p>
					Add <i>any HTML</i> you <b>like</b>!
				</p>
			</div>
		</div>
	</body>
</html>